<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach(option => { %>
        <li><%= `${option.user}: ${option.text} ` %><br><%= ` ${option.added} ` %></li>
        <br>
      <% }); %>
    </ul>
  </body>
</html>
